f/* This is Niki's version of a comment, this will result in a conflict in style.css */

/* this is a comment simulating merge conflict*/





html, body{
   overflow-x: hidden;
 }

 body {
   font-family: "ubuntu", Helvetica, Arial, sans-serif;
   color: #3F3E40;
 }

 /* For devices smaller than 460px */
@media (max-width: 460px) {
  .body {
    width: 85%;
    padding: 0; }
}

/* For devices smaller than 940px */
@media (max-width: 940px) {
  .body {
    width: 80%; }
  
 h1, h2, h3, h4, h5, h6 {
   font-family: "sans source pro", Helvetica, Arial, sans-serif;
 }
 
 h1 {
 	animation: fadeIn;
 }

 h2 {
   font-size: 28px;
   font-weight: normal;
   margin-bottom: 5px;
 }

 /* For devices smaller than 460px */
  @media (max-width: 460px) {
  h1 { font-size: 50%; }
  h2 { font-size: 40%; }
  p  { font-size: 30%; }

/* For devices smaller than 940px */
 @media (max-width: 940px) {
  h1 { font-size: 50%; }
  h2 { font-size: 40%; }
  p  { font-size: 30%; }  

 p {
   font-size: 16px;
   line-height: 19px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   position: relative;
 }

 .container-header:before,
 .container-header:after {
   content: "";
   display: table;
 }


 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 

 /* HEADER */
 header {
   color:#E0E0E0;
   background: #005495;
   background-image: -moz-linear-gradient( 90deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
  
  /*position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 800px;
  z-index: 7;*/
  /* We don't want to define pixel sizes for width and probably height becuase is responsive. */
}


 }
 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #E0E0E0;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#E0E0E0;
 }
 header nav ul > li > a {
   color:#E0E0E0;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#005495;
 }

 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin: 95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

 
 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color: #E0E0E0;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #127f23;
   border: 2px solid #127f23;
   box-shadow: 0px 2px 0px 0px #127f23;
 }

/* BENEFITS */

 .benefits {
   text-align: center;
   display: block;
   position: relative;
 }
 .benefits ul {
   margin: 0 auto;
   padding: 4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits i {
   color: #005495;
   font-size: 60px;
   margin: 0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#005495;
 }

/* PRICING */

 .pricing {
   background: #005495 url("../images/background.png") top center no-repeat;
   background: url("../images/background.png") top center no-repeat, linear-gradient( 0deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
   background-size: cover;
   text-align: center;
   padding:4em 0;
    }

 .pricing h2, .pricing p {
   color: #E0E0E0;
 }

 .pricing h3, .pricing p {
    color: #E0E0E0;
 }

 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }

 .box {
   padding:0 15px 15px;
   background: #E0E0E0;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 485px;
   margin-top:0px;
 }
 .box h3 {
   font-family: "Sans source pro", Helvetica, Arial, sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   background: #7c7880;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:10px 0;
 }

 .box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color: #0054a5;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "sans source pro", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color: #0054a5;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }

 .box .btn {
   position:absolute;
   bottom:20px;
   left:40px;
   right:20px;

 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style: italic;
 }

 /* TESTIMONIALS */

 .testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#0054a5;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#E0E0E0;
   text-align: left;
   font-style: italic;
   background:#0054a5;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #0054a5;
   border-width: 10px;
   margin-left: -10px;
 }

 .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }

#staggered {
  height: 20px;
}

/* FOOTER */
 footer {
   background-color: #3F3E40;
   color: #E0E0E0;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color: #E0E0E0;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: #3F3E40;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }

 @media (min-width: 992px){
   footer{
     background-color: #3F3E40;
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #3F3E40;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }
 
/* does the same thing as .staggared */
.testimonials ul li:nth-child(even) {
  margin-top: 20px;
}

   
/* DASHBOARD */
 .dashboard {
   background:#FFFFFF;
 }

 .header-nav {
   background: #005495;
   color:#E0E0E0;
   background-image:(90deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
   background-image: linear-gradient(90deg, #005495 0%, #5F0837 100%);
   height: 120px;
   position:relative;
   
 }
 
 .header-nav .site-logo {
  display:inline;
  float:left;
  margin:10px;
  padding: none;
  width: 75px;
 
 }

 .header-nav .main-nav {
  display:inline;
  float: left;
  padding:50px;
  width: 650px;
  margin-left:50px;
 
 }

  /* HEADER NAVBAR SETTINGS */

 .header-nav .settings {
   display:inline;
   float:left;
   margin-left:100px;
   position:absolute;
   padding:25px;
   width:120px;
 }

 .header-nav .settings img {
   height:60px;
   width:60px;
   border-radius:50%;
   display: inline;
   float:left;
   position:relative;
 }

 .header-nav .settings p {
   display:inline;
   width:200px;
   position:absolute;
   padding-left:20px;
   margin-top: 20px;
  
 }
 .header-nav .settings a {
   color:#E0E0E0;
   display:inline;
   width:100px;
   position:absolute;
   padding-left:100px;
   padding-bottom:20px;
   
  }

  /* LEFT NAVIGATION */

 .left-nav {
   height: 100%;
   width:280px;
   color:#E0E0E0;
   background: #E2E2E2;
   background-image: linear-gradient(206deg, #E0E0E0 0%, #D7D7D7 94%);
   float:left;
   position: absolute;
   display:block;
  -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }

.left-nav.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }

 .hamburger {
   position: relative;
   z-index: 1000;
   background:#3F3E40;
   color:#E0E0E0;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }

  .left-nav .items {
   padding:0 6%;
 }
 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 14px;
   color: #5F0837;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type:none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li a {
   color:#3F3E40;
   text-decoration: none;
   font-weight: 100;
 }
 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }

 .active {
  background-color: #83BF1D;
 }

 @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:15%;
     color:#3F3E40;
     background: #e0e0e0;
     background-image: linear-gradient(206deg, #E0E0E0 0%, #D7D7D7 94%);
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:15%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }

   .hamburger {
     display:none;
   }

/* CONTENT */

 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: "ubuntu", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #3F3E40;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #E2E2E2;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }


 /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }

 /* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }

 /* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }

 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;

 }
 .item-box h2 {
   font-family: 'ubuntu', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;

 }
 .item-box h2 a {
   color: #3F3E40;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;

 }
 .item-box p {
   font-size: 14px;
   color: #3F3E40;
   line-height: 18px;
   margin:5px 0 0;
 }

 