html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "ubuntu", Helvetica, Arial, sans-serif;
   color:#3F3E40;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "san source pro", Helvetica, Arial, sans-serif;
 }
 
 h1 {
 	animation: fadeIn;
 }

 h2 {
   font-size: 28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size: 16px;
   line-height: 19px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 

 /* HEADER */
 header {
   color:#E0E0E0;
   background: #005495;
   background-image: -moz-linear-gradient( 90deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,84,149) 0%, rgb(95,8,55) 100%);
  
  /*position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 800px;
  z-index: 7;*/
  /* We don't want to define pixel sizes for width and probably height becuase is responsive. */
}


 }
 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #E0E0E0;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#E0E0E0;
 }
 header nav ul > li > a {
   color:#E0E0E0;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#005495;
 }

 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin: 95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#E0E0E0;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #2ECC71;
   border: 2px solid #2ECC71;
   box-shadow: 0px 2px 0px 0px #22894E;
 }